langchain
langgraph
langchain-community
langchain-openai
chromadb
python-dotenv
tiktoken
langchain-tavily
sentence-transformers
torch>=2.6
safetensors
unstructured
pypdf
openpyxl
python-magic-bin
pandas
msoffcrypto-tool
nltk
langchain-huggingface
huggingface_hub[hf_xet]
tqdm
langchain-chroma
duckdb
duckdb-engine